<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BlogProjeCore7._0</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BlogProjeCore7._0.styles.css" asp-append-version="true" />
</head>
<body>
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Blog Sitem</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="/">Anasayfa</a></li>
                    <li class="nav-item"><a class="nav-link" href="/hakkimda">Hakkimizda</a></li>
                    <li class="nav-item"><a class="nav-link" href="/iletisim">İletişim</a></li>
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/Posts">Blog</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Page header with logo and tagline-->
    <header class="py-5 bg-light border-bottom mb-4">
        <div class="container">
            <div class="text-center my-5">
                <h1 class="fw-bolder">Blog Sayfama Hoşgeldiniz</h1>
                <p class="lead mb-0">Sayfama yazılımla alakalı içerikler paylaşıyorum.</p>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <div class="row">
                <div class="col-lg-8">
                    @RenderBody()
                </div>
                <div class="col-lg-4">
                    <!-- Search widget-->
                    <div class="card mb-4">
                        <div class="card-header">İçerik Ara</div>
                        <div class="card-body">
                            <form asp-action="Search" asp-controller="Posts" method="get">
                            <div class="input-group">
                               
                                <input name="kelime" class="form-control" type="text" placeholder="Aranacak Kelime giriniz..." aria-label="Aranacak Kelilme giriniz..." aria-describedby="button-search" />
                                    <button class="btn btn-primary" id="button-search" type="submit">Ara</button> @* inputaki name="kelime dediğimiz search daki paremtrede kelime oladuğu iiçiin öyle dedik eşleşmeyi sağlasın diye cok önemli*@
                               
                            </div>
                            </form>
                        </div>
                    </div>
                    <!-- Categories widget-->
               @await Component.InvokeAsync("Categories")
                    <!-- Side widget-->
                    <div class="card mb-4">
                        <div class="card-header">Side Widget</div>
                        <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
                    </div>
                </div>

            </div>
        </main>
    </div>

    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
