<!DOCTYPE html>
<html lang="en"> @* lang=en demek bu programın dili ingilizce demek tr yaparsaan daha sağlıklı olur yoksa uyarılar çıkacak*@
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BlogProjeCore70-ADMİN</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BlogProjeCore7._0.styles.css" asp-append-version="true" />
</head>
<body>
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#!">Start Bootstrap</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="/Admin">Ana Ekran</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Admin/Categories">Kategoriler</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Admin/Posts">İçerikler</a></li>
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/Admin/Users">Kullanıcılar</a></li>
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/Admin/Contacts">Form Mesajları</a></li>
                    <li class="nav-item"><a class="btn btn-danger text-white " aria-current="page" href="/Logout">Oturumu Kapat</a></li>
                </ul>
            </div>
        </div>
    </nav>
   
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
 
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
